<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="/scripts/script.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Edit Cattle List</title>
</head>
<body class="editcow">
    <h1>Work This Cattle</h1>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Cattle Caller</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cattle/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cattle/new">Add To The Herd</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cattle/edit">Work That Cow</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <form action="/cattle/<%= cattle._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        
        <img src="<%= cattle.img %>" alt="" width="25%" height="25%"><br>
        <label>Image:
            <input type="file" name="image" value="<%= cattle.img %>">
        </label><br>
        <label>Breed:
            <input type="text" name="breed" value="<%= cattle.breed %>">
        </label><br>
        <label>Origin:
            <input type="text" name="origin" value="<%= cattle.origin %>">
        </label><br>
        <label>Color:
            <input type="text" name="color" value="<%= cattle.color %>">
        </label><br>
        <label>Description:
            <input type="text" name="description" value="<%= cattle.description %>">
        </label><br>
        <input type="submit" value="Update Cattle"> 
    </form>
    <a href="/cattle">Back to Cattle List</a>
</body>
</html>