<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cattle Details</title>
</head>
<body>
    <img src="<%= cattle.img %>" alt="" width="25%" height="25%">
    <ul>
        <li>
            Breed: <%= cattle.breed %>
        </li>
        <li>
            Origin: <%= cattle.origin %>
        </li>
        <li>
            Color: <%= cattle.color %>
        </li>
        <li>
            Description: <%= cattle.description %>
        </li>
    </ul>

<form action="/cattle/<%= cattle._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Remove this Cattle">
</form>

<a href="/cattle/<%= cattle._id %>/edit">Work This Cattle</a>
<br>

    <a href="/cattle">Back to Cattle List</a>
    <br>
    <a href="/cattle/new">Add a Breed</a>
</body>
</html>