<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="/scripts/script.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Cattle Details</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Cattle Caller</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cattle">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Add To The Herd</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Word That Cow</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <img src="<%= cattle.img %>" alt="" width="35%" height="35%">
    <ul>
        <li>
            <strong>Breed:</strong>  <%= cattle.breed %>
        </li><br>
        <li>
            <strong>Origin:</strong> <%= cattle.origin %>
        </li><br>
        <li>
            <strong>Color:</strong>  <%= cattle.color %>
        </li><br>
        <li>
            <strong>Description:</strong>  <%= cattle.description %>
        </li><br>
    </ul>

<form action="/cattle/<%= cattle._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Remove From Herd">
</form>

<a href="/cattle/<%= cattle._id %>/edit">Work That Cow</a>
<br>

    <a href="/cattle">My Herd</a>
    <br>
    <a href="/cattle/new">Add To The Herd</a>
</body>
</html>