<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="/scripts/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Edit Cattle List</title>
</head>
<body>
    <h1>Work This Cattle</h1>
    <div class="bar">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Cattle Caller</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cattle/">My Herd</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cattle/new">Add To The Herd</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <form class="editcow" action="/cattle/<%= cattle._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        
        <img src="<%= cattle.img %>" alt="" width="25%" height="25%"><br>
        <label><strong>Image:</strong>
            <input type="file" name="image" value="<%= cattle.img %>">
        </label><br>
        <label><strong>Breed:</strong>
            <input type="text" name="breed" value="<%= cattle.breed %>">
        </label><br>
        <label><strong>Origin</strong>
            <input type="text" name="origin" value="<%= cattle.origin %>">
        </label><br>
        <label><strong>Color:</strong>
            <input type="text" name="color" value="<%= cattle.color %>">
        </label><br>
        <label><strong>Description:</strong>
            <input type="text" name="description" value="<%= cattle.description %>">
        </label><br>
        <input type="submit" value="Update Cattle"> 
        <a href="/cattle">Back to Cattle List</a>
    </form>
    <footer id="feet"><h5>Creator Simeon P. Hendricks</h5> 
      <a href="https://www.linkedin.com/in/simeonhendricks/"><img class="social-links" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original-wordmark.svg" />
        </a>
      <a href="https://github.com/zeuselijah"><img class="social-links" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" /></a>
    </footer>
</body>
</html>